{% extends 'base.html' %}

{% block title %}
About Page
{% endblock %}



{% block content %}

<br>
<br>
<h1 style="text-align: center;">Marvel - Authentication</h1>
<br>
<p style="text-align: center;">
    Marvel-Authentication was a Graphical Password Authentication platform
    <br>designed&nbsp; to &nbsp;overcome difficulties &nbsp;raised &nbsp;from the normal&nbsp; text &nbsp;- &nbsp;based
    <br>Password &nbsp;Authentication&nbsp; system. Register &nbsp; an&nbsp; account  &nbsp;by&nbsp; entering&nbsp; the
    <br>username, &nbsp;email&nbsp; and &nbsp;select&nbsp; the  &nbsp;grids&nbsp; for  &nbsp;the &nbsp;password. &nbsp;Then login to
    <br>see the change in Marvel-Auth status. Remember the email registered with
    <br>the &nbsp;password &nbsp;to&nbsp; receive &nbsp;the &nbsp;notification &nbsp;mail &nbsp; on  &nbsp;reset  &nbsp;password page
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}